option_settings:
  aws:elasticbeanstalk:application:environmentsecrets:
    FOURPILLARS_DB_URL: arn:aws:ssm:ap-northeast-2:504857725459:parameter/fourpillars/prod/db-url
    FOURPILLARS_DB_USERNAME: arn:aws:ssm:ap-northeast-2:504857725459:parameter/fourpillars/prod/db-username
    FOURPILLARS_DB_PASSWORD: arn:aws:ssm:ap-northeast-2:504857725459:parameter/fourpillars/prod/db-password
    FOURPILLARS_JWT_PRIVATE_KEY_BASE64: arn:aws:ssm:ap-northeast-2:504857725459:parameter/fourpillars/prod/jwt-private-key-base64
    FOURPILLARS_JWT_PUBLIC_KEY_BASE64: arn:aws:ssm:ap-northeast-2:504857725459:parameter/fourpillars/prod/jwt-public-key-base64

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /actuator/health

  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: false
    DeleteOnTerminate: true
    RetentionInDays: 7
